* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}

body {
    display: flex;
    flex-direction: row-reverse;
}

header {
    position: relative;
    min-width: 400px;
    background-image: url("images/Ben%20and%20Byron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hiddens;
}

#dropdown-button {
    background-color: #808080;
    width:100%;
    position: relative;
    color: black;
    font-size: 48px;
    font-weight:900;
}

ul {
    display: none;
    position: absolute;
    height: 100%;
    background: #808080;
    opacity: .9;
    width: 100%;
    }


#dropdown-button:hover ~ ul{
    display: block;
    animation: border-anim .75s 1 ease-out reverse;
    transition: all 0.5s ease;
}

@keyframes border-anim {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(100%);
    }
}

ul:hover {
    display: block;
    
}

li {
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 24px;
    font-weight: 600;
    border: solid black;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: row;
}

.container {
    width: 1280px;
    overflow: hidden;
    border: solid black;
}

.slideshow {
    width: 100%;
    display: flex;
    animation: slide 32s infinite;
}

img {
    border: solid black;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}